<div class="nav_conteiner">
  <div class="nav_imgAP">
    <img class="logoAP" src="../../../../assets/APLogo.svg" alt="logo-argentina-programa">

    <div class="textoAP">
      <p>ARGENTINA</p>
      <p>PROGRAMA</p>
    </div>
  </div>

  <ul class="nav_redes">
    <li>
      <img class="nav_redes_logo" src="../../../../assets/github.svg" alt="github-logo">
    </li>
    <li>
      <img class="nav_redes_logo" src="../../../../assets/linkedin.svg" alt="linkedin-logo">
    </li>
    <li>
      <img class="nav_redes_logo" src="../../../../assets/instagram.svg" alt="instagram-logo">
    </li>
    <li>
      <button class="btn btn-primary" type="button" id="login">Log In</button>
    </li>
  </ul>
</div>
