div.exp-est_conteiner {

  & h1.titulo {
    margin-bottom: 2.5rem;
  }

  & ul.exp-est_card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;

    & li.contenedor_card {
      display: flex;
      height: 120px;
      min-width: 450px;
      padding: .25rem;
      border: 1px solid #dad5d5;
      border-radius: 15px;
      box-shadow: 5px 5px 10px #ccc;

      & img.img_card {
        width: 30%;
        border-radius: 15px;
      }

      & div.datos_card {
        margin-left: 1rem;

        & h4.titulo_card {
          color: #0b5ed7;

          &::before {
            content: '~';
          }
        }

        & p.descripcion_card {
          font-size: .9rem;
          font-style: italic;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  div.exp-est_conteiner {
    & ul.exp-est_card {
      & li.contenedor_card {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  div.exp-est_conteiner {

    & h1.titulo {
      margin-left: .5rem;
    }

    & ul.exp-est_card {

      & li.contenedor_card {

        & div.datos_card {
          margin-left: .25rem;

          & p.descripcion_card {
            font-size: .75rem;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  div.exp-est_conteiner {
    & ul.exp-est_card {
      & li.contenedor_card {
        & img.img_card {
          display: none;
        }
      }
    }
  }
}
