<div class="exp-est_conteiner">
  <h1 class="titulo">
    Experiencias
  </h1>

  <ul class="exp-est_card">

    <li class="contenedor_card col-lg-6 col-ms-12">
      <img class="img_card" src="../../../../assets/one.jpg" alt="img-ilustrativa-experiencia">

      <div class="datos_card">
        <h4 class="titulo_card">
          Example
        </h4>

        <p class="descripcion_card">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </li>
  </ul>

  <h1 class="titulo">
    Estudios
  </h1>

  <ul class="exp-est_card">

    <li class="contenedor_card col-lg-6 col-ms-12">
      <img class="img_card" src="../../../../assets/one.jpg" alt="img-ilustrativa-estudios">

      <div class="datos_card">
        <h4 class="titulo_card">
          Example
        </h4>

        <p class="descripcion_card">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </li>
  </ul>
</div>
