div.editable_datos {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  height: calc(100vh - 160px);
  justify-content: center;

  & form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    margin-bottom: 1rem;
    gap: 2rem;

    & h4.titulo {
      color: #0d6efd;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
  }

  & ul.card_list {
    overflow-y: scroll;
    overflow-x: hidden;

    & li.card_list__item {
      max-width: 650px;
      min-width: 400px;

      & div.buttons_conteiner {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
      }
    }
  }
}
@media (max-width: 1050px) {
  div.editable_datos {
    & ul.card_list {  
      & li.card_list__item {
        & div.buttons_conteiner {
          & a.btn, button.btn {
            font-size: .75rem;
          }
        }
      }
    }
  }
}

@media (max-width: 980px) {
  div.editable_datos {
    flex-direction: column;
    height: auto;
    align-items: center;

    & form {
      border: none;
      border-bottom: 1px solid #DDD;
      padding: 0 0 1.5rem 0;
      margin: 0 auto 1rem;
    }

    & ul.card_list {
      width: 100%;
      align-items: center;

      & li.card_list__item {
        width: 60%;
        max-height: 100px;
        min-width: 0px;
      }
    }

  }
}
