<div class="editable_datos col-12" *ngIf="isLogged">
  <form (ngSubmit)="save()" novalidate #f="ngForm" class="col-lg-6">
    <h4 class="titulo">Datos De Proyectos</h4>

    <div class="input_conteiner">
      <input type="text" placeholder="Titulo de Ejemplo" id="nombre" name="nombre" [(ngModel)]="nombre" required>
      <label for="nombre">Nombre de Proyecto</label>
    </div>

    <div class="input_conteiner">
      <input type="text" placeholder="Titulo de Ejemplo" id="demo" name="demo" [(ngModel)]="demo" required>
      <label for="demo">URL de Demostración</label>
    </div>

    <div class="input_conteiner">
      <input type="text" placeholder="Titulo de Ejemplo" id="repo" name="repo" [(ngModel)]="repo" required>
      <label for="repo">URL de Repositorio</label>
    </div>

    <div class="input_file">
      <label for="file">IMG logo</label>
      <input type="file" name="file" id="file" class="form-control" (change)="uploadImg($event)" accept=".png .jpg .jpeg .svg">
    </div>

    <textarea name="descripcion" id="descripcion" rows="3" required maxlength="150" placeholder="Descripcion (Max 150 caracteres)" [(ngModel)]="descripcion"></textarea>

    <button type="submit" class="btn btn-success">Agregar</button>
  </form>

  <ul class="card_list col-lg-6">
    <li class="card_list__item"  *ngFor="let item of lista">
      <img class="card_list__item-img" src={{item.foto}} alt="img-ilustrativa-experiencia">

      <div class="card_list__item_datos">
        <h4 class="card_list__item_datos-titulo">
          {{item.nombre}}
        </h4>

        <div class="buttons_conteiner">
          <a class="btn btn-primary" href={{item.demo}}>DEMO</a>
          <a class="btn btn-primary" href={{item.repo}}>Repositorio</a>
          <button class="btn btn-secondary" type="button" (click)="mostrarDescripcion(item.descripcion)">Descripción</button>
        </div>
      </div>

      <button type="button" class="btn-close" aria-label="Close"  (click)="delete(item.id)"></button>
    </li>
  </ul>
</div>
