<div class="editable_datos col-12">
  <form action="#" method="post" class="col-6">
    <h4 class="titulo">Datos Laborales</h4>

    <div class="input_conteiner">
      <input type="text" placeholder="Titulo de Ejemplo" id="nombre">
      <label for="nombre">Titulo</label>
    </div>

    <div class="input_conteiner">
      <input type="text" placeholder="Titulo de Ejemplo" id="url">
      <label for="url">URL de imagen</label>
    </div>

    <span><strong>ó</strong></span>

    <input type="file" class="form-control" id="file-exp">

    <textarea name="descripcion" id="desc" rows="3" maxlength="150" placeholder="Descripcion (Max 150 caracteres)"></textarea>

    <button type="submit" class="btn btn-success">Agregar</button>
  </form>

  <!-- Tarjetas demostrativas al crear una Experiencia/Estudio/proyecto -->

  <ul class="card_list col-6">
    <li class="card_list__item">
      <img class="card_list__item-img" src="../../../../assets/one.jpg" alt="img-ilustrativa-experiencia">

      <div class="card_list__item_datos">
        <h4 class="card_list__item_datos-titulo">
          Titulo de Ejemplo
        </h4>

        <p class="card_list__item_datos-descripcion">
          Descripcion de Ejemplo
        </p>
      </div>

      <button type="button" class="btn-close" aria-label="Close"></button>
    </li>
  </ul>
</div>
