<div class="proyectos_conteiner">
  <h1 class="titulo">
    Proyectos
  </h1>

  <ul class="proyectos_card">
    <li class="contenedor_card col-lg-6" *ngFor="let pro of proyectos">
      <img class="img_card" src={{pro.foto}} alt="img-ilustrativa-experiencia">

      <div class="datos_card">
        <h4 class="titulo_card">
          {{pro.nombre}}
        </h4>

        <div class="buttons_conteiner">
          <a class="btn btn-primary" target="_blank" href={{pro.demo}}>DEMO</a>
          <a class="btn btn-primary" target="_blank" href={{pro.repo}}>Repositorio</a>
          <!-- boton del modal -->
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" [attr.data-bs-target]="'#collapse' + pro.id">
            Descripción
          </button>

          <!-- modal -->
          <div class="modal fade" id="collapse{{pro.id}}" tabindex="-1" aria-labelledby=`` aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Descripción</h1>
                </div>
                <div class="modal-body">
                  {{pro.descripcion}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
