<div class="proyectos_conteiner">
  <h1 class="titulo">
    Proyectos
  </h1>

  <ul class="proyectos_card">

    <li class="contenedor_card col-lg-6 col-ms-12">
      <img class="img_card" src="../../../../assets/one.jpg" alt="img-ilustrativa-experiencia">

      <div class="datos_card">
        <h4 class="titulo_card">
          Example
        </h4>

        <div class="buttons_conteiner">
          <a class="btn btn-primary" href="#">DEMO</a>
          <a class="btn btn-primary" href="#">Repositorio</a>
          <button class="btn btn-secondary" type="button">Descripción</button>
        </div>
      </div>
    </li>
  </ul>
</div>
