<app-header-datos></app-header-datos>

<div class="editable_conteiner">
  <div class="editable_secciones col-lg-1">
    <a class="link_seccion col-12" id="selec" href="">Datos Personales</a>
    <a class="link_seccion col-12" id="" href="">Experiencias Laborales</a>
    <a class="link_seccion col-12" id="" href="">Estudios</a>
    <a class="link_seccion col-12" id="" href="">Hards and Softs skills</a>
    <a class="link_seccion col-12" id="" href="">Proyectos</a>
  </div>

  <div id="formularios">
    <!--<app-form-persona></app-form-persona>-->
    <app-form-exp></app-form-exp>
  </div>
</div>


<app-footer></app-footer>
